table{
    width :50%; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 13px;
}
td{
  border-right: 1px solid black;
  border-left: 1px solid black;
}
th
{
	border : 1px solid black;
}

#t01 th:nth-child(odd), td:nth-child(odd){
  background-color: #9DE7B1;
}

#t01 th:nth-child(even), td:nth-child(even){
  background-color: #E4F9EA;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.container{
  color: white;
  font-size: 15px;
  display: inline-block;   
  padding: 10px;
  margin: auto;
  width: 150px;
  border-radius: 90px;
  text-align: center;
  border: 0px solid #75EC96;
  background-color: #75EC96;
  justify-content: center;
}

button:hover{
  color: white;
  border: 1.5px solid #0093E0;
  background-color: #0093E0;
} 