table {
  width: 50%;
  /*table-layout: fixed;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 13px;
}

td {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

th {
  border: 1px solid black;
}




#t01 th:nth-child(odd),
td:nth-child(odd) {
  background-color: #9DE7B1;
}

#t01 th:nth-child(even),
td:nth-child(even) {
  background-color: #E4F9EA;
}

.center {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.container {
  color: white;
  font-size: 15px;
  display: inline-block;
  padding: 10px;
  margin: auto;
  width: 150px;
  border-radius: 90px;
  text-align: center;
  border: 0px solid #75EC96;
  background-color: #75EC96;
  justify-content: center;
}

button:hover {
  color: white;
  border: 1.5px solid #0093E0;
  background-color: #0093E0;
}

.searchbox {
  background-color: FFEAC9;
  border: 1px solid black;
  width: 534px;
  height: 31;
  margin-left: 70px;
  float: left;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  background-color: none;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  background-color: #E4F9EA;
  max-width: 300px;
  padding: 70px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 590px;
  height: 150px;
  border: 1px solid #22CC51;
  margin-top: 10px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}




/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #22CC51;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-bottom: 10px;
  opacity: 0.8;
  float: left;
  border-radius: 12px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #FF616D;
  width: 40%;
  float: right;
  border-radius: 12px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.search {
  color: white;
  font-size: 25px;

  height: 35px;
  width: 120px;
  border-radius: 50px;
  text-align: center;
  border: 0px solid #75EC96;
  background-color: #75EC96;
  float: left;
  margin-left: 20px;
}